@import "../../../../styles/abstract/mixins";

.about {
  background-color: var(--color-grey-light-2);

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 3rem;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;

    @include respond(phone-max600) {
      grid-template-columns: 1fr;
      gap: 6rem;
    }

    &-right {
      flex: 1;
    }

    &-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.image-box {
  height: 28rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  transition: all 0.6s;

  @include respond(phone-max600) {
    width: 100%;
    position: relative;
  }
}
