.features {
  background-color: var(--primary-color-dark);
  background-color: rgb(0, 102, 0);

  &__container {
    padding: 10rem 3.2rem;
    max-width: 120rem;
    margin: 0 auto;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2.4rem;
  }
  &__heading {
    margin-bottom: 2.4rem;
  }
}
